altair
asgiref
astroid
attrs
backports.zoneinfo
blinker
cachetools
certifi
charset-normalizer
click
colorama
decorator
detectlanguage
dill
Django
django-countries
django-crispy-forms
entrypoints
Flask
Flask-Cors
flask-ngrok
Flask-SQLAlchemy
gitdb
GitPython
greenlet
gunicorn
idna
importlib-metadata
importlib-resources
isort
itsdangerous
Jinja2
joblib
jsonschema
lazy-object-proxy
markdown-it-py
MarkupSafe
mccabe
mdurl
nltk
numpy
packaging
pandas
Pillow
pkgutil_resolve_name
platformdirs
protobuf
psycopg2
psycopg2-binary
pyarrow
pydeck
Pygments
pylint
Pympler
pyrsistent
python-dateutil
pytz
pytz-deprecation-shim
regex
requests
rich
semver
six
smmap
SQLAlchemy
sqlparse
streamlit
sweetify
toml
tomli
tomlkit
toolz
torch
tornado
tqdm
typed-ast
typing_extensions
tzdata
tzlocal
urllib3
validators
watchdog
Werkzeug
whitenoise
wrapt
zipp
